// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&display=swap');

// * {
//     font-family: 'Inter', sans-serif;
// }

// #paperstyle {
//     /* background-color: aquamarine; */
//     width: 25.3rem;
//     height: 15.6rem;
//     display: flex;
//     justify-content: space-between;

//     .imagem {
//         width: 100%;
//     }
// }

.segura {
    display: flex;
    justify-content: space-between;
    width: 1250px;
    border: 1px solid red;
    // gap: 6px;
}

.bg-paper {
    background-color: purple;
}

.title-collection {
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 20px;
}


