@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

$pink: #C92071;
$white: #fff;
$darkgrey: #474747;
$grey: #F5F5F5;
// grey a nay tinha colocado gray
$bitgrey: #ffffff49;
$bitblack: #1F1F1F;
$blue: #D8E3F2;


* {
    font-family: 'Inter', sans-serif;
}